body {
	padding: 50px 10px;
}

textarea {
    min-height: 400px;
}

.form-group {
	padding-bottom: 5px;
}
.read {
	background-color: #D3D3D3;
}
.border {
	margin-bottom: 10px;	
}
.border:hover {
	background-color: #ddd;
}

.custom_font {
	font-family: 'Niconne', cursive;
	font-size: 2rem;
	text-align: center;
}

.list_view {
	padding-bottom: 10px;
}
.e_inbox {
	font-size: 24px;
	text-align: center;
}