{% extends "mail/layout.html" %}

{% block body %}
	<div class="row">
		<div class="col-md-4">			
			<div class="custom_font">
				<h2>Hi <b>{{ request.user.username }}</b></h2>
				<span>Inbox</span><br>
				<span>Compose</span><br>
				<span>Sent</span><br>
				<span>Archived</span><br>
				<a href="{% url 'mail_login' %}">Login</a><br>
			</div>
		</div>

		<div class="col-md-8">

			<h2 class="custom_font">Register</h2>

			{% if message %}
				<div class="alert alert-primary" role="alert">{{ message }}</div>
			{% endif %}

			<form action="{% url 'mail_register' %}" method="post">
				{% csrf_token %}
				<div class="form-group">
					<input class="form-control" type="text" name="username" placeholder="Username">
				</div>
				<div class="form-group">
					<input class="form-control" type="email" name="email" placeholder="Email Address">
				</div>
				<div class="form-group">
					<input class="form-control" type="password" name="password" placeholder="Password">
				</div>
				<div class="form-group">
					<input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
				</div>
				<input class="btn btn-primary" type="submit" value="Register">
			</form>

			Already have an account? <a href="{% url 'mail_login' %}">Log In here.</a>
		</div>
	</div>

{% endblock %}