
body {
	background-color: #F8F8F8;
	margin-top: 2rem;
}

.custom_font {
	font-family: 'Niconne', cursive;
	font-size: 2rem;
}

.out_b {
	padding: 0.5rem 1rem;
	margin-bottom: 10px;
}

.form-control {
	margin-bottom: 5px;
}

.fa {
	margin-right: 5px;
}

.username {
	margin-bottom: 10px;
}

.login_img {
	min-height: 480px;
	background-image: url(/static/network/login.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.login_form {
	width: 50%;
	margin: 0 auto;
}

.login_btn {
	margin:auto;
  display:block;
}

.side_profile {
}

.user_profile {
	
	border-bottom: 1px;
	border-bottom-color: #2e2e2e; 
}

.profile_img {
	max-width:80%;
	max-height:80%;
	display: block;
  margin-left: auto;
  margin-right: auto;
	
}
.fr_img {
	width:45px;
	height:45px;
	display: block;
	object-fit: cover;
	
}
.cus_btn {
	padding: 0rem 0.5rem;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.friend_list_img {    
	width:128px; 
	height:128px; 
	display:block;
}